body {
  background-color: #494e5a;
  color: #fdfff7;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

#inputSection {
  text-align: center;
  margin-top: 50px;
}

#task-label {
  color: #c04e21;
  font-weight: bold;
  font-size: 24px;
}

#titleInput {
  width: 40%;
  margin-top: 5px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

#titleInput:focus {
  outline: none;
}

#btn-submit {
  margin-top: 10px;
}

#tableSection {
  margin-top: 50px;
  margin-left: 25px;
  width: 80%;
}

table {
  width: 100%;
  margin-left: 20px;
}

thead {
  font-weight: bold;
  color: #d77a5b;
  margin-bottom: 20px;
  font-size: 20px;
}

tbody {
  font-size: 16px;
  color: #fdfff7;
}

.tasks {
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 0px;
  width: 60%;
}

.dates {
  padding-top: 5px;
  width: 25%;
  padding-left: 10px;
}

.change-buttons {
  padding-top: 5px;
  width: 7%;
}

.delete-buttons {
  padding-top: 5px;
  width: 7%;
  padding-left: 1%;
}

.complete-row {
  background-color: #5c946e;
  text-decoration: line-through;
  opacity: 0.85;
  border-radius: 10px;
}
