body {
  background-color: rgb(134, 152, 172);
}

#tableSection {
  margin-top: 50px;
  margin-left: 25px;
  width: 50%;
}

table {
  width: 100%;
}

td {
  padding-left: 10px;
}

.complete-row {
  background-color: green;
  text-decoration: line-through;
  opacity: 0.85;
  border-radius: 10px;
}
